.highlight {
    background-color: yellow;
}

.video-container {
    display: flex;
    justify-content: center;
}

.video-wrapper {
    position: relative;
}

.video-wrapper video {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}